<div id="about">
  <p>
    Je m'appelle Mikael Grigorian, j'ai 23 ans.
  </p>
  <div id="mariecurie">
    <p>
      Avant de faire cette formation de développeur full-stack chez 3W Academy,
      j'ai fait un BTS SIO (Services Informatiques aux Organisations) 
      au lycée Marie Curie à Marseille où j'ai appris le codage pour la première fois 
      (HTML, CSS, PHP, Javascript).
    </p>
    <%= image_tag ('mariecurie.jpeg'), id:"mariecurie_img" %>
  </div>
  <div id="subclic">
    <p>
      Je suis actuellement en alternance chez ID DEVELOPPEMENT, qui développe depuis 5 ans 
      maintenant, Subclic, une plateforme en ligne qui permet aux professionnels du bâtiment 
      et de la construction de dématérialiser la signature, la gestion et l'archivage de 
      tous leurs contrats liés aux chantiers.
    </p>
    <%= image_tag ('subclic.png'), id:"subclic_img" %>
  </div>
  <div id="rails">
    <p>
      Ce site a été réalisé en Ruby, avec le framework Ruby On Rails afin de poursuivre
      mon apprentissage du langage et donc de m'améliorer pour mon futur poste
      de développeur web back-end chez ID DEVELOPPEMENT.
    </p>
    <%= image_tag ('rails.png'), id:"rails_img" %>
  </div>  